.container {
    margin: 5%;
}

.slider {
    width: 80%;
    height: 100px;
    background: lightpink;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;
}

.slider > button {
    position: absolute;
}

.slider .right-button {
    order: 2;
    right: 0;
}

.slider .left-button {
    order: 0;
    left: 0;
}

.images-container {
    order: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: margin-left 1s ease-in-out;
    cursor: pointer;
}

.image-box {
    width: 80px;
    height: 80px;
    border: 1px solid;
    display: block;
    margin: 2px;
}

.image-like-span {
    font-weight: bold;
    font-size: 72px;
}
